<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="bootstrap.php">
    <testsuites>
        <testsuite name="ekibana">
            <directory>./</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">../module/Ekibana</directory>
        </whitelist>
    </filter>
</phpunit>
